<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSharpMath" version="0.5.1" manuallyInstalled="true" />
  <package id="CSharpMath.Editor" version="0.5.1" />
  <package id="CSharpMath.Rendering" version="0.5.1" />
  <package id="CSharpMath.SkiaSharp" version="0.5.1" manuallyInstalled="true" />
  <package id="SkiaSharp" version="2.80.1" />
</packages>